<div class="jumbotron">


<p>firstcomponent works!</p>
<h5>hi, {{ name }}</h5>
<h5>This is math: {{ 1 + 3 + 5 }}</h5>
<p>{{ name.length }}</p>
<h5>{{ callMyName() }}</h5>
<input type="text" [id]="myId">
<input type="text" bind-disabled="isDisabled" class="form-control">
<h2 [class]="h2Class">Example on Class Binding</h2>
<h2 [class.text-danger]="naayError">Example on Class Binding</h2>
<h2 [ngClass]="messageClasses">Testing multiple classes</h2>
<h2 [style.color]="naayError ? 'red' : 'blue' ">Testing Tyle Binding</h2>
<button class="btn btn-success" (click)="buttonClick()">Testing Click</button>
<button class="btn btn-primary" (click)="greeting='Hey what da fuss?'">Set property value for greeting</button>
{{ greeting }}
<input type="text" class="form-control" #inputName >
<button class="btn btn-info" (click)="showName(inputName.value)">Show Name</button>
<input type="text" [(ngModel)]="username">{{ username }}
<h3 *ngIf="show; then thenBlah; else elseBlahblah">Showing Name: {{ name }}</h3>
<button (click)="showHideName()">Show/Hide Name</button>
<ng-template #elseBlahblah>
    <h3>Name is hidden</h3>
</ng-template>
<ng-template #thenBlah>
    <h5>Then Block here</h5>
</ng-template>
<div *ngFor="let x of names;index as f">
    <h5>{{f}} {{ x }}</h5>
</div>
<h5>Hello {{fromAppParent}}</h5>
<button (click)="fireButtonClick()" >Click to send message to Parent</button>
</div>